<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name = "listeners.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.bestbuy.ecommerce.testcases.SelectandaddanitemfromMenuàShopbyDepartmentTest"/>
      <class name="com.bestbuy.ecommerce.testcases.SignInTest"/>
      <class name="com.bestbuy.ecommerce.testcases.CheckoutTest"/>
      <class name="com.bestbuy.ecommerce.testcases.ValidationBottomLinksHomeTest"/>
      <class name="com.bestbuy.ecommerce.testcases.SelectandaddanitemfromMenuàBrandsàSelectAnyBrandTest"/>
      <class name="com.bestbuy.ecommerce.testcases.ValidationofallMenuTest"/>
      <class name="com.bestbuy.ecommerce.testcases.SearchforandAddtoCartTest"/>
      <class name="com.bestbuy.ecommerce.testcases.CreateAccountTest"/>
      <class name="com.bestbuy.ecommerce.testcases.ValidationURLTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
